.booking-embeded-guests-dropdown {
    position: relative;
}


.embedded-booking-guests-table {
    input {
        border: 0;
        background-color: inherit;
    }
}

.booking-content {
    margin-top: 70px;
}
