.current_ancestor{
    color: $navbar-default-link-active-color;
    background-color: $navbar-default-link-active-bg;
}

.navbar-inverse {
    .current_ancestor{
        color: $navbar-inverse-link-active-color;
        background-color: $navbar-inverse-link-active-bg;
    }
}
