{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Villa Morris!</title>
    <link rel="stylesheet" href="{{ asset('bundles/milosrafailovici/css/main.min.css') }}" />
</head>
<body>
    <!-- Menu Block -->
    {% block menu %}
        {% include 'MilosRafailoviciBundle:Rafailovici/Menu:index.html.twig' %}
    {% endblock %}
    <!-- end Menu Block -->

    <!-- Content Block -->
    {% block content %}{% endblock %}
    <!-- end Content Block -->

    <!-- Javascript Block -->
    {% block javascript %}

        {% javascripts '@MilosRafailoviciBundle/Resources/public/js/main.min.js' %}
        <script src='{{ asset_url }}' type='text/javascript'></script>
        {% endjavascripts %}

    {% endblock %}
    <!-- end Javascript Block -->
</body>
</html>
{% endspaceless %}
