.ajaxLoad {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    text-align: center;
    z-index: 9999;

    .fa {
        color: white;
        margin-top: 25%;
    }
}

/* Form errors */
.error {
    color: #c70009;
}

.has-error .form-control {
    border: 1px solid $rafailovici_error_color;
    border-left: 4px solid $rafailovici_error_color;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.has-error .form-control:focus {
    border-color: #8b0000;
}
