.selectize-dropdown {
    position: absolute!important;
    width: 280px!important;
    margin-top: 0!important;
}

.selectize-dropdown-content {
    max-height: 300px;
    padding: 0;

    .label {
        display: block;
        padding: 5px;
        font-size: 150%;
        color: #000;
        text-align: left;
    }

    .caption {
        padding: 5px;
        font-size: 12px;
        color: gray;
    }

    .active {
        color: #ffffff!important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

        .label, .caption {
            color: #ffffff;
        }
    }
}

.selectize-control {
    margin-bottom: -6px!important;
}
