.fc-header, .fc-border-separate {
	border: none;
}

.fc-state-highlight {
    background: #aad0da;
}

.fc-button-month {
    display: none;
}

.fc-event {
    line-height: 14px;
}

td.fc-other-month {
    background-color: #d3d3d3;
}
