{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}
    {{ render_esi(controller('MilosRafailoviciBundle:Guest:renderForm', {
        'guest': guest
    })) }}
{% endblock %}
