<div class="content guest-edit-form-content">
    <div class="container">
        {{ form_start(guest, {'attr': {'class': '', 'role': 'form', 'autocomplete': 'off', 'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <i class="fa fa-user"></i>&nbsp;{{ form_label(guest.guestFirstName, 'Име') }}
                    {{ form_widget(guest.guestFirstName, {'attr': {'class':'form-control', 'placeholder':'Име госта'}}) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <i class="fa fa-user"></i>&nbsp;{{ form_label(guest.guestLastName, 'Презиме') }}
                    {{ form_widget(guest.guestLastName, {'attr': {'class':'form-control', 'placeholder':'Име презиме'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <i class="fa fa-home"></i>&nbsp;{{ form_label(guest.guestAddress, 'Адреса') }}
                    {{ form_widget(guest.guestAddress, {'attr': {'class':'form-control', 'placeholder':'Адреса'}}) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <i class="fa fa-home"></i>&nbsp;{{ form_label(guest.guestCity, 'Место') }}
                    {{ form_widget(guest.guestCity, {'attr': {'class':'form-control', 'placeholder':'Место'}}) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <i class="fa fa-home"></i>&nbsp;{{ form_label(guest.guestCountry, 'Држава') }}
                    {{ form_widget(guest.guestCountry, {'attr': {'class':'form-control', 'placeholder':'Држава'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <i class="fa fa-phone"></i>&nbsp;{{ form_label(guest.guestPhone, 'Телефон') }}
                    {{ form_widget(guest.guestPhone, {'attr': {'class':'form-control', 'placeholder':'Телефон'}}) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @&nbsp;{{ form_label(guest.guestEmail, 'Ел. пошта') }}
                    {{ form_widget(guest.guestEmail, {'attr': {'class':'form-control', 'placeholder':'Ел. пошта'}}) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <i class="fa fa-file-text"></i>&nbsp;{{ form_label(guest.guestDocumentType, 'Тип документа') }}
                    {{ form_widget(guest.guestDocumentType, {'attr': {'class':'form-control', 'placeholder':'Тип документа'}}) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    {{ form_label(guest.guestDocumentNumber, 'Број документа') }}
                    {{ form_widget(guest.guestDocumentNumber, {'attr': {'class':'form-control', 'placeholder':'Број документа'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <i class="fa fa-plus color-green"></i>&nbsp;{{ form_label(guest.guestNotesPositive, 'Позитивни коментари') }}
                    {{ form_widget(guest.guestNotesPositive, {'attr': {'class':'form-control', 'placeholder':'Позитивни коментари', 'rows':5}}) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <i class="fa fa-minus color-red"></i>&nbsp;{{ form_label(guest.guestNotesNegative, 'Негативни коментари') }}
                    {{ form_widget(guest.guestNotesNegative, {'attr': {'class':'form-control', 'placeholder':'Негативни коментари', 'rows':5}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_widget(guest.guestSubmit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Сачувај'}) }}
            </div>
        </div>
        {{ form_widget(guest._token) }}
        {{ form_widget(guest.id) }}
        {{ form_end(guest, {'render_rest': false}) }}
    </div>
</div>
