{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}

    <div class="content guests-table-wrapper col-lg-12">
        {# render alert message #}
        {% for flashMessage in app.session.flashbag.get('alert') %}
            {{ flashMessage|raw }}
        {% endfor %}

        {% if guests is iterable %}
        <table class="guests-table col-lg-12 embedded-booking-guests-table table-striped table-hover table-bordered table-condensed">
            {#data-prototype="{{ form_widget(formBooking.guests.vars.prototype)|e }}">#}
            <thead>
            <tr>
                <th>Ид</th>
                <th>Име</th>
                <th>Презиме</th>
                <th>Адреса</th>
                <th>Место</th>
                <th>Држава</th>
                <th>Телефон</th>
                <th>Ел. пошта</th>
                <th>Тип Док.</th>
                <th>Док. бр.</th>
                <th>Уписан</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for guest in guests %}
                <tr>
                    <td>{{ guest['id'] }}</td>
                    <td>{{ guest['guestFirstName'] }}</td>
                    <td>{{ guest['guestLastName'] }}</td>
                    <td>{{ guest['guestAddress_s']|default('') }}</td>
                    <td>{{ guest['guestCity_s']|default('') }}</td>
                    <td>{{ guest['guestCountry_s']|default('') }}</td>
                    <td>{{ guest['guestPhone_s']|default('') }}</td>
                    <td>{{ guest['guestEmail_s']|default('') }}</td>
                    <td>{{ guest['guestDocumentType_s']|default('') }}</td>
                    <td>{{ guest['guestDocumentNumber_s']|default('') }}</td>
                    <td>{{ guest['createdAt_dt']|default('')|date("d.m.Y.") }}</td>
                    <td><a href="{{ path('milos_rafailovici_guest_delete', {'id': guest['id']}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Избриши</a></td>
                    <td><a href="{{ path('milos_rafailovici_guest_edit', {'id': guest['id']}) }}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Измени</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
