{# form_div_layout.html.twig #}
{% block button_widget -%}

    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is not empty %}<i class="{{ attr.icon }}" {% endif %}></i> {{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{# error layout #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="col-sm-12 error">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}
