{#{{#}
    {#render(controller('MilosMenuRafailoviciBundle:Menu:index'))#}
{#}}#}
<header class="navbar navbar-default navbar-fixed-top" {#role="navigation"#} id="top" role="banner">
    <div class="container">
        {# Brand and toggle get grouped for better mobile display #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('milos_rafailovici_homepage') }}">Морис Рафаиловићи</a>
        </div>

        {# Collect the nav links, forms, and other content for toggling #}
        <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
            {{ knp_menu_render('MilosRafailoviciBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'MilosRafailoviciBundle:Rafailovici/Menu:knp_menu.html.twig'}) }}
            {{ knp_menu_render('MilosRafailoviciBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'MilosRafailoviciBundle:Rafailovici/Menu:knp_menu.html.twig'}) }}
        </div>
    </div>
</header>
