{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}

    <div class="content guests-table-wrapper col-lg-12">
        {# render alert message #}
        {% for flashMessage in app.session.flashbag.get('alert') %}
            {{ flashMessage|raw }}
        {% endfor %}

        {% if bookings is iterable %}
            <table class="guests-table col-lg-12 embedded-booking-guests-table table-striped table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Рез. бр.</th>
                    <th>Од</th>
                    <th>До</th>
                    <th>Соба</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking['id'] }}</td>
                        <td>{{ booking['start']|date("d.m.Y.") }}</td>
                        <td>{{ booking['end']|date("d.m.Y.")|default('') }}</td>
                        <td>{{ booking['room']|default('') }}</td>
                        <td><a href="{{ path('milos_rafailovici_booking_delete', {'id': booking['id']}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Избриши</a></td>
                        <td><a href="{{ path('milos_rafailovici_booking_edit', {'id': booking['id']}) }}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Измени</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}
