{% form_theme formBooking 'MilosRafailoviciBundle:Rafailovici/Form:fields.html.twig' %}
{% macro guests_form_prototype(guest) %}
    <tr class="embedded-booking-guest">
        {{ form_widget(guest.id) }}
        <td>{{ form_widget(guest.guestFirstName, { 'attr': {'readonly': 'readonly' }}) }}</td>
        <td>{{ form_widget(guest.guestLastName, { 'attr': {'readonly': 'readonly' }})  }}</td>
        <td>
            <button type="button" class="btn btn-danger btn-xs">
                <i class="fa fa-times"></i>&nbsp;<span>Уклони госта</span>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success btn-xs">
                <i class="fa fa-edit"></i>&nbsp;<span>Измени</span>
            </button>
        </td>
    </tr>
    {{ form_rest(guest) }}
{% endmacro %}

{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}
    <div class="content guest-edit-form-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                {{ form_start(formBooking, {'attr': {'role': 'form'}}) }}

                    <div class="row">
                        <div class="booking-form">
                            <!-- Start Date -->
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-sm-12 {{ formBooking.startDate.vars.errors|length > 0 ? 'has-error' }}">
                                        <i class="fa fa-calendar"></i>&nbsp;{{ form_label(formBooking.startDate, 'Од') }}
                                        {{ form_widget(formBooking.startDate, {'attr': {'class': 'datepicker form-control', 'placeholder':'Од'}}) }}
                                    </div>
                                    {{ form_errors(formBooking.startDate, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>

                            <!-- End date -->
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-sm-12 {{ formBooking.endDate.vars.errors|length > 0 ? 'has-error' }}">
                                        <i class="fa fa-calendar"></i>&nbsp;{{ form_label(formBooking.endDate, 'До') }}
                                        {{ form_widget(formBooking.endDate, {'attr': {'class': 'datepicker form-control', 'placeholder':'До'}}) }}
                                    </div>
                                    {{ form_errors(formBooking.endDate, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>

                            <!-- Room -->
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-sm-12 {{ formBooking.roomId.vars.errors|length > 0 ? 'has-error' }}">
                                        <i class="fa fa-suitcase"></i>&nbsp;{{ form_label(formBooking.roomId, 'Соба') }}
                                        {{ form_widget(formBooking.roomId, {'attr': {'class': 'form-control col-sm-12'}}) }}
                                    </div>
                                    {{ form_errors(formBooking.roomId, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {# errors if no guests selected #}
                    <div class="row">
                        {{ form_errors(formBooking) }}
                    </div>
                    <table class="col-lg-12 embedded-booking-guests-table table-striped table-hover table-bordered table-condensed"
                           data-prototype="{{ _self.guests_form_prototype(formBooking.guests.vars.prototype)|e }}">
                        <thead>
                        <tr>
                            <th>Име</th>
                            <th>Презиме</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if formBooking.guests.vars['value'].count > 0 %}  {# at least one guest in ArryCollection #}
                            {% for guest in formBooking.guests %}
                                {{ _self.guests_form_prototype(guest) }}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>


                    <div class="input-group col-lg-4 booking-embeded-guests-dropdown">
                        <input type="text" class="form-control search-existing-guest embedded-booking-form" placeholder="Тражи постојећег госта">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>

                    <button type="button" class="btn btn-success form-booking-add-new-guest"><i class="fa fa-user"></i> Додај новог госта</button>
                    <div class="clearfix"></div>

                    {{ form_widget(formBooking.bookingSubmit, {'attr': {'class': 'btn btn-primary', 'icon': 'fa fa-floppy-o'}, 'label': 'Резервиши'}) }}
                    {{ form_widget(formBooking._token) }}

                {{ form_end(formBooking, {'render_rest': false}) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var removeGuestEmbedTableRow = '{{ formBooking.vars.valid }}' == '' ? true : false;
        var bookingFormGuests = true;
    </script>

    {{ parent() }}
{% endblock %}
