{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}
    <div class="content booking-content">
        <div class="col-lg-7">
            <div id='calendar'></div>
        </div>
        <div class="col-lg-5">
            {# render alert message #}
            {% for flashMessage in app.session.flashbag.get('alert') %}
                {{ flashMessage|raw }}
            {% endfor %}
            {% include 'MilosRafailoviciBundle:Rafailovici/Booking:formBooking.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        var initialEventsURL = '{{ url('milos_rafailovici_all_bookings') }}';
        var eventUpdateURL = '{{ url('milos_rafailovici_resize_bookings') }}';
        var removeGuestEmbedTableRow = '{{ formBooking.vars.valid }}' == '' ? true : false;
        var bookingFormGuests = true;
    </script>

    {{ parent() }}
{% endblock %}
