{% extends 'MilosRafailoviciBundle:Rafailovici:index.html.twig' %}

{% block content %}
    <div class="content guest-edit-form-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% include 'MilosRafailoviciBundle:Rafailovici/Booking:formBooking.html.twig'  %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var initialEventsURL = '{{ url('milos_rafailovici_all_bookings') }}';
        var eventUpdateURL = '{{ url('milos_rafailovici_resize_bookings') }}';
        var removeGuestEmbedTableRow = '{{ formBooking.vars.valid }}' == '' ? true : false;
        var someVar = true;
        var bookingFormGuests = true;
    </script>

    {{ parent() }}
{% endblock %}
